@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --display-1-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --display-1-extra-bold-font-size: 12px;
  --display-1-extra-bold-font-style: normal;
  --display-1-extra-bold-font-weight: 800;
  --display-1-extra-bold-letter-spacing: 0px;
  --display-1-extra-bold-line-height: 18px;
  --display-1-regular-font-family: "Inter-Regular", Helvetica;
  --display-1-regular-font-size: 12px;
  --display-1-regular-font-style: normal;
  --display-1-regular-font-weight: 400;
  --display-1-regular-letter-spacing: 0px;
  --display-1-regular-line-height: 18px;
  --display-1-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --display-1-semi-bold-font-size: 12px;
  --display-1-semi-bold-font-style: normal;
  --display-1-semi-bold-font-weight: 600;
  --display-1-semi-bold-letter-spacing: 0px;
  --display-1-semi-bold-line-height: 18px;
  --display-1-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --display-1-uppercase-semi-bold-font-size: 12px;
  --display-1-uppercase-semi-bold-font-style: normal;
  --display-1-uppercase-semi-bold-font-weight: 600;
  --display-1-uppercase-semi-bold-letter-spacing: 0.96px;
  --display-1-uppercase-semi-bold-line-height: 18px;
  --display-2-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --display-2-semi-bold-font-size: 14px;
  --display-2-semi-bold-font-style: normal;
  --display-2-semi-bold-font-weight: 600;
  --display-2-semi-bold-letter-spacing: 0px;
  --display-2-semi-bold-line-height: 20px;
  --display-3-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --display-3-extra-bold-font-size: 16px;
  --display-3-extra-bold-font-style: normal;
  --display-3-extra-bold-font-weight: 800;
  --display-3-extra-bold-letter-spacing: 0px;
  --display-3-extra-bold-line-height: 22px;
  --display-3-regular-font-family: "Inter-Regular", Helvetica;
  --display-3-regular-font-size: 16px;
  --display-3-regular-font-style: normal;
  --display-3-regular-font-weight: 400;
  --display-3-regular-letter-spacing: 0px;
  --display-3-regular-line-height: 22px;
  --display-3-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --display-3-semi-bold-font-size: 16px;
  --display-3-semi-bold-font-style: normal;
  --display-3-semi-bold-font-weight: 600;
  --display-3-semi-bold-letter-spacing: 0px;
  --display-3-semi-bold-line-height: 22px;
  --display-3-underline-regular-font-family: "Inter-Regular", Helvetica;
  --display-3-underline-regular-font-size: 16px;
  --display-3-underline-regular-font-style: normal;
  --display-3-underline-regular-font-weight: 400;
  --display-3-underline-regular-letter-spacing: 0px;
  --display-3-underline-regular-line-height: 22px;
  --neutral-colors100: rgba(255, 255, 255, 1);
  --neutral-colors300: rgba(241, 243, 247, 1);
  --neutral-colors400: rgba(225, 228, 237, 1);
  --neutral-colors500: rgba(180, 185, 201, 1);
  --neutral-colors600: rgba(109, 117, 143, 1);
  --neutral-colors700: rgba(53, 62, 92, 1);
  --neutral-shadow-02: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
  --primary-paletteblue: rgba(35, 136, 255, 1);
}
